* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: #000;
  padding: 130px 50px;
}

header h1,
footer h2 {
  text-align: center;
  color: #fff;
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

#mc_embed_signup h2,
#mc_embed_signup .mc-field-group label {
  display: none;
}

#mc_embed_signup form,
#mc_embed_signup .mc-field-group,
#mc_embed_signup .indicates-required {
  margin: 0;
  padding: 0;
}

#mc_embed_signup form {
  padding: 30px;
  display: block;
}

#mc_embed_signup .mc-field-group {
  width: 100%;
}

#mc_embed_signup .mc-field-group input {
  padding: 16px;
  font-size: 14px;
  text-indent: 0;
  margin-bottom: 20px;
}

#mc_embed_signup .button {
  background: blue;
  padding: 10px 15px;
  height: auto;
  font-size: 12px;
}
    
